@model ShopV2.Models.AddressInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AddressInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
