@model ShopV2.ViewModels.ItemCardCreate

@{
    ViewBag.Title = "Create";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.measureType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.measureType)
            @Html.ValidationMessageFor(model => model.measureType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nomenclatureNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomenclatureNumber)
            @Html.ValidationMessageFor(model => model.nomenclatureNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.articularNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.articularNumber)
            @Html.ValidationMessageFor(model => model.articularNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.barCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.barCode)
            @Html.ValidationMessageFor(model => model.barCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.count)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.count)
            @Html.ValidationMessageFor(model => model.count)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PackageTypeID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PackageTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.PackageTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VendorID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("VendorID", String.Empty)
            @Html.ValidationMessageFor(model => model.VendorID)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "IteamCard")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}