@{
    ViewBag.Title = "Home Page";
}

<ul>
        <li>@Html.ActionLink("ItemCard", "Index", "ItemCard")</li>
        <li>@Html.ActionLink("ChangeItem", "Index", "ChangeItem")</li>
        <li>@Html.ActionLink("PackageInfo", "Index", "PackageInfo")</li>
        <li>@Html.ActionLink("PackageType", "Index", "PackageType")</li>
        <li>@Html.ActionLink("IncomingItem", "Index", "IncomingItem")</li>
        <li>@Html.ActionLink("Vendor", "Index", "Vendor")</li>
        <li>@Html.ActionLink("AddressInfo", "Index", "AddressInfo")</li>
        <li>@Html.ActionLink("AddressVendors", "Index", "AddressVendor")</li>
        <li>@Html.ActionLink("Country", "Index", "Country")</li>
        <li>@Html.ActionLink("Street", "Index", "Street")</li>
        <li>@Html.ActionLink("City", "Index", "Cities")</li>
        <li>@Html.ActionLink("OutcomingItem", "Index", "OutcomingItem")</li>
        <li>@Html.ActionLink("Buyer", "Index", "Buyer")</li>
        <li>@Html.ActionLink("Firm", "Index", "Firm")</li>
        <li>@Html.ActionLink("Waybill", "Index", "Waybill")</li>
</ul>

